<div class="container">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #createRecipeForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="recipe.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!createRecipeForm.form.valid">Submit</button>
    </form>
  </div>
</div>
